<header id="header">
    <div class="header-top" ng-controller="HeaderController">
        <div class="container">
            <a href="#offcanvas" class="uk-navbar-toggle hidden-lg" data-uk-offcanvas>
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
            <nav>
                <ul class="nav nav-pills nav-top nav-top-right">
                    <!--<li class="search"><a data-target=".search-wrapper" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-search"></i></a></li>-->
                    <li class="login" ng-if="!loggedIn">
                        <a data-target=".form-wrapper" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-user"></i> <span>Login/Register</span></a>
                    </li>
                    <li class="dropdown langs" ng-if="loggedIn">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i>
                            <span>Welcome {{loginAttribute.name | limitTo: 9 | uppercase }}{{loginAttribute.name.length > 9 ? '...' : ''}} </span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/rebate/userprofile/edit">Redeem Points</a></li>
                            <li><a ng-click="signOut()">Logout</a></li>
                        </ul>
                    </li>
                    <!--<li class="shopping-cart">
                        <a href="#offcanvas-cart" data-uk-offcanvas><i class="fa fa-shopping-cart"></i> <span>(<span>0</span>)</span></a>
                    </li>-->
                </ul>
            </nav>
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main">
                    <ul class="nav nav-pills nav-main-menu">
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#/rebate/home">Home</a>
                        </li>
                        <li>
                            <a href="contact.html">About Us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>		

        </div>	
    </div>

    <div class="container text-center">
        <!--<h1 class="logo">
            <a href="index-2.html"><img alt="Marvel" src="images/logo.png" width="99"></a>
        </h1>-->
    </div>
</header>
