<!-- Begin Login/Register -->
<div class="modal fade form-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <ul role="tablist" class="nav nav-tabs grid-tabs text-center">
                <li class="active"><a data-toggle="tab" role="tab" href="#login">Login</a></li>
                <li><a data-toggle="tab" role="tab" href="#register">Register</a></li>
            </ul>
            <div class="tab-content">
                <div id="login" class="tab-pane active">
                    <form class="form-block" role="form">
                        <div>
                            <!--<div ng-controller="GooglePlusController">
                              <google-plus-signin clientid="1077302343088-8el40g7cnu8l7jj239825s278d08uqs2.apps.googleusercontent.com" autorender="false" 
                                                  customtargetid="my-custom-element">
                                  <div id="my-custom-element"><button type="submit" class="btn btn-default">Sign in with G+</button></div>
                                  
                                  <div ng-click="signOut()"> Sign out</div>
                              </google-plus-signin>
                            </div>-->
                            <div ng-controller="GooglePlus">
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

                                <div ng-click="signOut()"> Sign out</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h2>I'm already a member</h2>
                            <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                        </div>
                        <div class="form-group">
                            <label for="lemail" class="control-label sr-only">Email</label>
                            <input type="email" class="form-control" id="lemail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="lpassword" class="control-label sr-only">Password</label>
                            <input type="password" class="form-control" id="lpassword" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                                <a href="#">Lost Password?</a>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </form>
                </div>
                <div id="register" class="tab-pane">
                    <form class="form-block" role="form">
                        <div class="text-center">
                            <h2>I'm new here</h2>
                           <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label sr-only">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="resemail" class="control-label sr-only">Email</label>
                            <input type="email" class="form-control" id="resemail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="respassw" class="control-label sr-only">Password</label>
                            <input type="password" class="form-control" id="respassw" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login/Register -->